<html>
    <body>
    
<h3><u>Inbox</u></h3>
<table class ="table table-stripped table-hover">
    <tr>
<img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo"   width="50px" height="50px"> 
<a routerLink="/inbox" (click)="myfun()">Aparna Gupta
    Some Message for you....</a>
    
    </tr>
   
<br/>
<tr>
    <hr>
<img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo" id="attr"  width="50px" height="50px"> 
<a routerLink="/inbox">Ruchi Kumari 
    Some Message for you....</a>
   
</tr>
<br>
<hr>
<tr>
    <img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo" id="attr"  width="50px" height="50px"> 
    <a routerLink="/inbox">Ruchi Kumari 
        Some Message for you....</a>
    
    </tr>
    <br>
    <hr>
    <tr>
        <img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo" id="attr"  width="50px" height="50px"> 
        <a routerLink="/inbox">Ruchi Kumari 
            Some Message for you....</a>
        
        </tr>
    <br>
    <hr>
    <tr>
        <img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo" id="attr"  width="50px" height="50px"> 
        <a routerLink="/inbox">Ruchi Kumari 
            Some Message for you....</a>
        
        </tr>
    <br>
    <hr>
    <tr>
        <img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo" id="attr"  width="50px" height="50px"> 
        <a routerLink="/inbox">Ruchi Kumari 
            Some Message for you....</a>
        
        </tr>
    <br>
    <hr>
    <tr>
        <img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo"   width="50px" height="50px"> 
        <a routerLink="/inbox" (click)="myfun()">Aparna Gupta
            Some Message for you....</a>
            </tr>
           
        <br/>
        <hr>
        <tr>
            <img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo"   width="50px" height="50px"> 
            <a routerLink="/inbox" (click)="myfun()">Aparna Gupta
                Some Message for you....</a>
                </tr>
               
            <br/>
            <hr>
        
            <tr>
                <img src="https://thumbs.dreamstime.com/b/letter-s-logo-abstract-circle-shape-element-vector-round-compan-company-icon-sign-88709150.jpg" alt="logo"   width="50px" height="50px"> 
                <a routerLink="/inbox" (click)="myfun()">Aparna Gupta
                    Some Message for you....</a>
                    </tr>
                   
                <br/>
                <hr>
        </table>
    
    </body>
        </html>



<!-- <a href="">First Message</a>
<br>
<a href="">Second Message</a>
<br>
<a href=""> Third Message</a> -->