<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" 
    (click)="closeNav()">×</a>
    <h3>Gmail</h3>
    <a routerLink="/message">Inbox</a>
    <a >Trashbox</a>
    <a >Sent</a>
    <a >Drafts</a>
  </div>
  
  <div id="main">
    
    <button class="openbtn" (click)="openNav()">☰</button>  
    
  </div>
</body>
</html>

